html {
    font-family: Roboto, sans-serif;
}

button {
    border: 0;
    cursor: pointer;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
